.footer {
    text-align: center;
}

.panel-body a {
    margin-left: 20px;
}

.panel-body-active {
    background-color: #222;
}

.panel-body-active a {
    color: white;
}
.panel-body-active a:hover {
    color: white;
    text-decoration: none;
}
#login-form, #chpwd-form, #register-form{
    max-width: 330px;
    margin: auto;
}
.table th,td {
    text-align: center;
}

.panel-group a {
    display: block;
}

#page {
padding-left:10%;
padding-right:auto;
}
